.category-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 20vh;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}
