.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
  padding: 10rem 0;

  a {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(3, 1fr);
    text-align: center;
  }

  .category {
    &--image {
      display: flex;
      justify-content: center;
      margin-bottom: -14.5rem;

      img {
        width: 25rem;
      }
    }

    &--text {
      background-color: rgb(241, 241, 241);
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;
      padding-top: 10rem;
      padding-bottom: 2rem;

      h3 {
        font-size: 2.2rem;
        padding: 2rem;
        font-weight: lighter;
      }

      p {
        font-size: 1.6rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          opacity: 0.5;
          padding-right: 1.4rem;
          font-weight: bold;
        }

        img {
          height: 1.6rem;
        }
      }
    }
  }
}
