.nav {
  list-style: none;
  display: flex;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    padding-left: 3rem;
    font-size: 1.6rem;
    font-weight: bold;

    &:hover {
      opacity: 0.7;
    }
  }
}
