.hero {
  background-color: black;
  color: white;
  background: url('../../assets/image-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;

  @media screen and (max-width: 960px) {
    background: url('../../assets/image-header.jpg');
    background-size: cover;
    background-position: center;
    height: 60%;
  }

  @media screen and (max-width: 576px) {
    background: url('../../assets/image-header-m.jpg');
    background-size: cover;
    background-position: center;
  }

  &--text {
    width: 50%;
    padding: 15vh 0;
    @media screen and (max-width: 960px) {
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    p:nth-child(1) {
      opacity: 0.3;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.8rem;
      padding: 1rem 0;
    }

    h2 {
      font-size: 5.5rem;
      padding: 1rem 0;
      text-transform: uppercase;
      max-width: 40rem;
      @media screen and (max-width: 960px) {
        max-width: 100%;
      }
      @media screen and (max-width: 576px) {
        font-size: 4.2rem;
      }
    }

    p:nth-child(3) {
      font-size: 1.5rem;
      max-width: 35rem;
      opacity: 0.6;
      line-height: 2.3rem;
      padding: 1rem 0 1rem 0;
      margin-bottom: 4rem;
      @media screen and (max-width: 960px) {
        margin: auto;
      }
    }
  }
}
